html(lang="en")
    head
        title React redux hot

        link(rel="stylesheet", href="https://yastatic.net/bem-components/3.0.0/desktop/bem-components.css")
    body
        #root

        script(src="/dist/app.js")
